<bs-form (submit)="savePerson()">
	<bs-grid>
		<div bsRow bsFormGroup class="mb-3">
			<div [xxs]="12">
				<h1 class="d-inline-block">{{ 'pages.createNewPerson' | translate }}</h1>
				<span class="float-end">
					<button type="submit" [color]="colors.primary">
						<i class="fa fa-save"></i>
						{{ 'actions.createPerson' | translate }}
					</button>
				</span>
			</div>
		</div>
		<div bsRow bsFormGroup class="mb-3">
			<label [bsFor]="txtFirstName" class="input-label" [sm]="4" [xl]="2">{{ 'person.firstName' | translate }}</label>
			<div [sm]="8" [xl]="10">
				<input type="text" [formField]="personForm.firstName" class="form-control" #txtFirstName autofocus />
			</div>
		</div>
		<div bsRow bsFormGroup class="mb-3">
			<label [bsFor]="txtLastName" class="input-label" [sm]="4" [xl]="2">{{ 'person.lastName' | translate }}</label>
			<div [sm]="8" [xl]="10">
				<input type="text" [formField]="personForm.lastName" class="form-control" #txtLastName />
			</div>
		</div>
	</bs-grid>
</bs-form>
