<bs-grid>
	<form (submit)="updatePerson()">
		<div class="form-group mb-3" bsRow>
			<div [xxs]="12">
				<h1 class="d-inline-block">{{ oldPersonName() }}</h1>
				<span class="float-end">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-save"></i>
						{{ 'actions.update' | translate }}
					</button>
				</span>
			</div>
		</div>
		<div class="form-group mb-3" bsRow>
			<label for="txt_first_name" class="input-label" [sm]="4" [xl]="2">{{ 'person.firstName' | translate }}</label>
			<div [sm]="8" [xl]="10">
				<div class="input-group">
					<input type="text" [(ngModel)]="person.firstName" class="form-control" id="txt_first_name" name="first_name" autofocus />
				</div>
			</div>
		</div>
		<div class="form-group mb-3" bsRow>
			<label for="txt_last_name" class="input-label" [sm]="4" [xl]="2">{{ 'person.lastName' | translate }}</label>
			<div [sm]="8" [xl]="10">
				<div class="input-group">
					<input type="text" [(ngModel)]="person.lastName" class="form-control" id="txt_last_name" name="last_name" />
				</div>
			</div>
		</div>
	</form>
</bs-grid>
