<div class="container">
	<form (submit)="updatePerson()">
		<div class="form-group row">
			<div class="col-12">
				<h1 class="d-inline-block">{{ oldPersonName() }}</h1>
				<span class="float-end">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-save"></i>
						Update
					</button>
				</span>
			</div>
		</div>
		<div class="form-group row">
			<label for="txt_first_name" class="input-label col-sm-4 col-xl-2">First name</label>
			<div class="col-sm-8 col-xl-10">
				<div class="input-group">
					<input type="text" [(ngModel)]="person.firstName" class="form-control" id="txt_first_name" name="first_name" autofocus />
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label for="txt_last_name" class="input-label col-sm-4 col-xl-2">Last name</label>
			<div class="col-sm-8 col-xl-10">
				<div class="input-group">
					<input type="text" [(ngModel)]="person.lastName" class="form-control" id="txt_last_name" name="last_name" />
				</div>
			</div>
		</div>
	</form>
</div>
