<div class="container" *ngIf="person != null">
  <div class="form-group row">
    <div class="col-12">
      <h1 class="d-inline-block">{{ person.firstName }} {{ person.lastName }}</h1>
      <span class="float-none d-block float-sm-right d-sm-inline-block">
        <span class="float-none d-block float-sm-right d-sm-inline-block">
          <a class="btn btn-primary d-block d-sm-inline-block" [routerLink]='["/members", "person", person.id, "edit"]'>
            <i class="fa fa-edit"></i>
            Edit
          </a>
          <button class="btn btn-secondary d-block d-sm-inline-block w-100 w-sm-auto" (click)="deletePerson()">
            <i class="fa fa-trash"></i>
            Remove
          </button>
        </span>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-xl-2">
      <label class="font-weight-bold">First name</label>
    </div>
    <div class="col-sm-8 col-xl-10">
      <label>{{ person.firstName }}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-xl-2">
      <label class="font-weight-bold">Last name</label>
    </div>
    <div class="col-sm-8 col-xl-10">
      <label>{{ person.lastName }}</label>
    </div>
  </div>
</div>
